<%= turbo_frame_tag "search-results" do %>
  <% if @listings.present? && @listings.exists? %>
    <div id="listings">
      <% @listings.each do |listing| %>
        <%= render listing %>
        <p>
          <%= link_to "Show this listing", listing %>
        </p>
      <% end %>
    </div>
  <% else %>
    <p>No listings available.</p>
  <% end %>
<% end %>
  