<div id="<%= dom_id area %>">
  <p>
    <strong>City:</strong>
    <%= area.city %>
  </p>

  <p>
    <strong>Airbnb place:</strong>
    <%= area.airbnb_place_id %>
  </p>

  <p>
    <strong>State:</strong>
    <%= area.state_id %>
  </p>

</div>
